/* Base styles for the profile card */
.profile-cards {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* box-sizing: border-box; */
}

.profile-cards:hover{
  background-color: var(--grey-1);
  /* border-top: 2px solid red;
  border-bottom: 2px solid red; */
}
.profile-cards:active{
  background-color: var(--grey-2);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.profile-cards:focus{
  background-color: var(--grey-3);
}

.profile-images{
    display: flex;
    justify-content: center;
}

.profile-details{
  margin-left: 1em;
  display: flex;
  width: 70%;
  flex-direction: column;
}

.upper-row{
  display: flex;
  justify-content: space-between;
}

.profile-details .username{
  font-weight: bold;
  font-size: 18px;
}
.profile-details .timestamp{
  font-size: 12px;
  color: var(--grey-5);
}

.lower-row{
  display: flex;
  justify-content: space-between;
}

.lower-row .bio{
  font-size: 14px;
  color: var(--grey-5);
}

.badge-container{
  font-size: 20px;
  display: flex;
  align-items: center;
}
.badge-container svg{
  font-size: 1em;
}