@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  /* border: 2px solid red; */
  overflow: hidden;
}
.sidebar {
  /* border: 2px solid rgb(0, 68, 255); */
  width: 26%;
}
.message-box {
  width: 74%;
  display: flex;
}

