/* Add font-awesome for the search icon */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

/* Style for the search container */
.search-container {
  display: flex;
  align-items: center;
  /* width: 73%; */
  border-radius: 8px;
  overflow: hidden; /* Ensure no overflow from child elements */
  background-color: var(--grey-1); /* Transparent background */
  transition: background-color 0.3s ease;
}

/* Style for the search input */
.search-input {
    flex-grow: 1; /* Take remaining space */
    border: none;
    padding: 12px 20px;
    outline: none;
    font-weight: bold;
    background-color: transparent; /* Transparent background */
}

/* Style for the search button */
.search-button {
    background-color: transparent;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    color: var(--grey-4) !important;
}

/* Hover effect for the search button */
.search-container:hover,
.search-container:active {
  background-color: #f1f1f1;
}
