.logo-header {
  height: 14%;
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin-bottom: 1em;
}
.logo-icon {
  font-size: 0.7em;
  transform: translateY(-55%);
}
.logo {
  font-size: 2.5em;
  font-weight: bolder;
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.259) 2.4px 2.4px 3.2px;
}
.logo span {
  color: var(--primary);
}
