*{

}
.login-body{
    height: 100vh;
}

.login-container{
    width: 28%;
    padding: 4em 3em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header{
    font-weight: bolder;
    margin-bottom: 1.2em;
    text-align: center;
}
.links-container span{
    font-size: smaller;
}

